<a href="https://colab.research.google.com/github/Baah134/Baah134/blob/main/Titanic_Challenge/Titanic_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/MyDrive/DeepLearning/Titanic_Challenge/train.csv'

df = pd.read_csv(path)
df.sample(10)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
323,324,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.0,1,1,248738,29.0000,NaN,S
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.0,3,1,349909,21.0750,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C
191,192,0,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0000,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S
777,778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.0,0,0,364516,12.4750,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
603,604,0,3,"Torber, Mr. Ernst William",male,44.0,0,0,364511,8.0500,NaN,S
511,512,0,3,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S

In [3]:
df.shape

(891, 12)

In [4]:
#Dropping data that is either incomplete or irrelevant
df.drop('Name', axis='columns',inplace=True)
df.drop('Cabin', axis='columns',inplace=True)
df.drop('Ticket', axis='columns',inplace=True)
df.drop('PassengerId', axis='columns',inplace=True)

In [5]:
df.shape

(891, 8)

In [6]:
df.iloc[630].Age

80.0

In [7]:
df.dropna(subset=['Age'], inplace=True)
df.dropna(subset=['Embarked'], inplace=True)

In [8]:
df.shape

(712, 8)

In [9]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
885         0       3  female  39.0      0      5  29.1250        Q
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[712 rows x 8 columns]

In [10]:
df.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [11]:
def print_unique_col_values(df):
       for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

In [12]:
print_unique_col_values(df)

Sex: ['male' 'female']
Embarked: ['S' 'C' 'Q']

In [13]:
df['Sex'].replace({'female':1,'male':0},inplace=True)

<ipython-input-13-093d512625cc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace({'female':1,'male':0},inplace=True)
<ipython-input-13-093d512625cc>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace({'female':1,'male':0},inplace=True)

In [14]:
for col in df:
    print(f'{col}: {df[col].unique()}')

Survived: [0 1]
Pclass: [3 1 2]
Sex: [0 1]
Age: [22.   38.   26.   35.   54.    2.   27.   14.    4.   58.   20.   39.
 55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.   18.
  3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.   16.
 25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.   14.5
 70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.   56.
 50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.   60.
 10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.    0.67
 30.5   0.42 34.5  74.  ]
SibSp: [1 0 3 4 2 5]
Parch: [0 1 2 5 3 4 6]
Fare: [  7.25    71.2833   7.925   53.1      8.05    51.8625  21.075   11.1333
  30.0708  16.7     26.55    31.275    7.8542  16.      29.125   18.
  26.      13.       8.0292  35.5     31.3875 263.      27.7208  10.5
  82.1708  52.      11.2417   9.475   21.      41.5792   7.8792  17.8
  39.6875   7.8     76.7292  61.9792   7.2292  27.75    46.9     83.475
  27.9      8.1583   8.6625  73.5     14.4542  56.4958   7.65    29.
  12.475    9.       9.5     47.1     15.85    34.375   61.175   20.575
  34.6542  63.3583  23.       7.8958  77.2875   8.6542   9.825   14.4583
   7.75   247.5208   7.1417   6.975    7.05    14.5     15.0458  26.2833
   9.2167  79.2      6.75    11.5     36.75     7.7958  12.525   66.6
  61.3792   7.7333  16.1     15.75     7.775   20.525   33.5     30.6958
  28.7125   0.      39.      22.025   15.5    146.5208   8.4042   6.4958
   7.225   10.4625  18.7875  31.     113.275   27.      76.2917  90.
   9.35    13.5     26.25    12.275    7.125   52.5542  20.2125  15.2458
  86.5    512.3292  79.65   153.4625 135.6333  19.5     29.7     77.9583
  20.25    78.85    91.0792  12.875    8.85   151.55   108.9     24.
  56.9292  83.1583 262.375   14.     164.8667 134.5     12.35     6.2375
  57.9792  28.5     15.9      9.225   55.      75.25    69.3     55.4417
 211.5      4.0125 227.525   15.7417  12.     120.      12.65    18.75
  32.5     24.15     7.875   14.4     55.9     81.8583  19.2583  30.5
  89.1042  38.5     13.7917   9.8375   7.0458   7.5208  12.2875   9.5875
  49.5042  78.2667  22.525   26.2875  59.4      7.4958  34.0208  93.5
 106.425   49.5     71.     110.8833  39.6     17.4     51.4792  26.3875
  30.      40.125   15.      15.55    65.      32.3208   7.0542   7.55
   8.4333 133.65    25.5875   9.8417  10.1708 211.3375  57.      13.4167
   7.7417   9.4833  33.       8.3625  25.9292   8.6833   8.5167   7.8875
  37.0042   6.45     8.3      6.4375  39.4     14.1083  13.8583  50.4958
   5.       9.8458  10.5167]
Embarked: ['S' 'C' 'Q']

In [15]:
#One-hot encoding for Categorical Columns
df = pd.get_dummies(data=df, columns=['Embarked'], dtype= int)
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [16]:
df.dtypes

Survived        int64
Pclass          int64
Sex             int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Embarked_C      int64
Embarked_Q      int64
Embarked_S      int64
dtype: object

In [21]:
cols_to_scale = ['Age','Fare','SibSp','Parch','Pclass']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [22]:
df.sample(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
820,1,0.0,1,0.648153,0.2,0.166667,0.182500,0,0,1
855,1,1.0,1,0.220910,0.0,0.166667,0.018250,0,0,1
356,1,0.0,1,0.271174,0.0,0.166667,0.107353,0,0,1
16,0,1.0,0,0.019854,0.8,0.166667,0.056848,0,1,0
566,0,1.0,0,0.233476,0.0,0.000000,0.015412,0,0,1
376,1,1.0,1,0.271174,0.0,0.000000,0.014151,0,0,1
528,0,1.0,0,0.484795,0.0,0.000000,0.015469,0,0,1
152,0,1.0,0,0.692134,0.0,0.000000,0.015713,0,0,1
90,0,1.0,0,0.359135,0.0,0.000000,0.015713,0,0,1
838,1,1.0,0,0.396833,0.0,0.000000,0.110272,0,0,1