<a href="https://colab.research.google.com/github/Baah134/Baah134/blob/main/Titanic_Challenge/Titanic_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/MyDrive/DeepLearning/Titanic_Challenge/train.csv'

df = pd.read_csv(path)
df.sample(10)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
611,612,0,3,"Jardin, Mr. Jose Neto",male,NaN,0,0,SOTON/O.Q. 3101305,7.0500,NaN,S
787,788,0,3,"Rice, Master. George Hugh",male,8.0,4,1,382652,29.1250,NaN,Q
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
616,617,0,3,"Danbom, Mr. Ernst Gilbert",male,34.0,1,1,347080,14.4000,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.0,0,0,11813,76.2917,D15,C
739,740,0,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S

In [ ]:
df.shape

(891, 12)

In [ ]:
#Dropping data that is either incomplete or irrelevant
df.drop('Name', axis='columns',inplace=True)
df.drop('Cabin', axis='columns',inplace=True)
df.drop('Ticket', axis='columns',inplace=True)
#df.drop('PassengerId', axis='columns',inplace=True)

In [ ]:
df.shape

(891, 9)

In [ ]:
df.iloc[630].Age

80.0

In [ ]:
df.dropna(subset=['Age'], inplace=True)
df.dropna(subset=['Embarked'], inplace=True)

In [ ]:
df.shape

(712, 9)

In [ ]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [ ]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked        object
dtype: object

In [ ]:
def print_unique_col_values(df):
       for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

In [ ]:
print_unique_col_values(df)

Sex: ['male' 'female']
Embarked: ['S' 'C' 'Q']

In [ ]:
df['Sex'].replace({'female':1,'male':0},inplace=True)

<ipython-input-72-093d512625cc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace({'female':1,'male':0},inplace=True)
<ipython-input-72-093d512625cc>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace({'female':1,'male':0},inplace=True)

In [ ]:
for col in df:
    print(f'{col}: {df[col].unique()}')

PassengerId: [  1   2   3   4   5   7   8   9  10  11  12  13  14  15  16  17  19  21
  22  23  24  25  26  28  31  34  35  36  38  39  40  41  42  44  45  50
  51  52  53  54  55  57  58  59  60  61  63  64  67  68  69  70  71  72
  73  74  75  76  79  80  81  82  84  85  86  87  89  90  91  92  93  94
  95  97  98  99 100 101 103 104 105 106 107 109 111 112 113 114 115 116
 117 118 119 120 121 123 124 125 126 128 130 131 132 133 134 135 136 137
 138 139 140 142 143 144 145 146 147 148 149 150 151 152 153 154 156 157
 158 161 162 163 164 165 166 168 170 171 172 173 174 175 176 178 179 180
 183 184 185 188 189 190 191 192 193 194 195 196 198 200 201 203 204 205
 206 207 208 209 210 211 212 213 214 216 217 218 219 220 221 222 223 225
 226 227 228 229 231 232 233 234 235 237 238 239 240 243 244 245 246 247
 248 249 250 252 253 254 255 256 258 259 260 262 263 264 266 267 268 269
 270 272 273 274 276 277 279 280 281 282 283 284 286 287 288 289 290 291
 292 293 294 295 297 298 300 303 306 308 309 310 311 312 313 314 315 316
 317 318 319 320 321 322 323 324 326 327 328 329 330 332 333 334 337 338
 339 340 341 342 343 344 345 346 347 349 350 351 353 354 356 357 358 361
 362 363 364 366 367 370 371 372 373 374 375 377 378 379 380 381 382 383
 384 386 387 388 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 413 415 417 418 419 420 422 423 424 425 427 428
 430 431 433 434 435 436 437 438 439 440 441 442 443 444 446 447 448 449
 450 451 453 454 456 457 459 461 462 463 464 466 468 470 472 473 474 475
 477 478 479 480 481 483 484 485 487 488 489 490 492 493 494 495 497 499
 500 501 502 504 505 506 507 509 510 511 513 514 515 516 517 519 520 521
 522 524 526 527 529 530 531 533 535 536 537 538 540 541 542 543 544 545
 546 547 549 550 551 552 554 555 556 557 559 560 562 563 566 567 568 570
 571 572 573 575 576 577 578 580 581 582 583 584 586 587 588 589 591 592
 593 595 596 598 600 601 604 605 606 607 608 609 610 611 615 616 617 618
 619 620 621 622 623 624 625 626 627 628 629 631 632 633 635 636 637 638
 639 641 642 643 645 646 647 648 650 652 653 655 656 658 659 660 661 662
 663 664 665 666 667 669 671 672 673 674 676 677 678 679 680 682 683 684
 685 686 687 688 689 690 691 692 694 695 696 697 699 700 701 702 703 704
 705 706 707 708 709 711 713 714 715 716 717 718 720 721 722 723 724 725
 726 727 729 730 731 732 734 735 736 737 738 742 743 744 745 746 747 748
 749 750 751 752 753 754 755 756 757 758 759 760 762 763 764 765 766 768
 770 771 772 773 775 776 778 780 781 782 783 785 786 787 788 789 790 792
 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812
 813 814 815 817 818 819 820 821 822 823 824 825 828 831 832 834 835 836
 837 839 841 842 843 844 845 846 848 849 851 852 853 854 855 856 857 858
 859 861 862 863 865 866 867 868 870 871 872 873 874 875 876 877 878 880
 881 882 883 884 885 886 887 888 890 891]
Survived: [0 1]
Pclass: [3 1 2]
Sex: [0 1]
Age: [22.   38.   26.   35.   54.    2.   27.   14.    4.   58.   20.   39.
 55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.   18.
  3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.   16.
 25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.   14.5
 70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.   56.
 50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.   60.
 10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.    0.67
 30.5   0.42 34.5  74.  ]
SibSp: [1 0 3 4 2 5]
Parch: [0 1 2 5 3 4 6]
Fare: [  7.25    71.2833   7.925   53.1      8.05    51.8625  21.075   11.1333
  30.0708  16.7     26.55    31.275    7.8542  16.      29.125   18.
  26.      13.       8.0292  35.5     31.3875 263.      27.7208  10.5
  82.1708  52.      11.2417   9.475   21.      41.5792   7.8792  17.8
  39.6875   7.8     76.7292  61.9792   7.2292  27.75    46.9     83.475
  27.9      8.1583   8.6625  73.5     14.4542  56.4958   7.65    29.
  12.475    9.       9.5     47.1     15.85    34.375   61.175   20.575
  34.6542  63.3583  23.       7.8958  77.2875   8.6542   9.825   14.4583
   7.75   247.5208   7.1417   6.975    7.05    14.5     15.0458  26.2833
   9.2167  79.2      6.75    11.5     36.75     7.7958  12.525   66.6
  61.3792   7.7333  16.1     15.75     7.775   20.525   33.5     30.6958
  28.7125   0.      39.      22.025   15.5    146.5208   8.4042   6.4958
   7.225   10.4625  18.7875  31.     113.275   27.      76.2917  90.
   9.35    13.5     26.25    12.275    7.125   52.5542  20.2125  15.2458
  86.5    512.3292  79.65   153.4625 135.6333  19.5     29.7     77.9583
  20.25    78.85    91.0792  12.875    8.85   151.55   108.9     24.
  56.9292  83.1583 262.375   14.     164.8667 134.5     12.35     6.2375
  57.9792  28.5     15.9      9.225   55.      75.25    69.3     55.4417
 211.5      4.0125 227.525   15.7417  12.     120.      12.65    18.75
  32.5     24.15     7.875   14.4     55.9     81.8583  19.2583  30.5
  89.1042  38.5     13.7917   9.8375   7.0458   7.5208  12.2875   9.5875
  49.5042  78.2667  22.525   26.2875  59.4      7.4958  34.0208  93.5
 106.425   49.5     71.     110.8833  39.6     17.4     51.4792  26.3875
  30.      40.125   15.      15.55    65.      32.3208   7.0542   7.55
   8.4333 133.65    25.5875   9.8417  10.1708 211.3375  57.      13.4167
   7.7417   9.4833  33.       8.3625  25.9292   8.6833   8.5167   7.8875
  37.0042   6.45     8.3      6.4375  39.4     14.1083  13.8583  50.4958
   5.       9.8458  10.5167]
Embarked: ['S' 'C' 'Q']

In [ ]:
#One-hot encoding for Categorical Columns
df = pd.get_dummies(data=df, columns=['Embarked'], dtype= int)
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [ ]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked_C       int64
Embarked_Q       int64
Embarked_S       int64
dtype: object

In [ ]:
cols_to_scale = ['Age','Fare','SibSp','Parch','Pclass']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [ ]:
df.sample(10)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
514,515,0,1.0,0,0.296306,0.0,0.000000,0.014631,0,0,1
427,428,1,0.5,1,0.233476,0.0,0.000000,0.050749,0,0,1
178,179,0,0.5,0,0.371701,0.0,0.000000,0.025374,0,0,1
137,138,0,0.0,0,0.459663,0.2,0.000000,0.103644,0,0,1
764,765,0,1.0,0,0.195778,0.0,0.000000,0.015176,0,0,1
141,142,1,1.0,1,0.271174,0.0,0.000000,0.015127,0,0,1
436,437,0,1.0,1,0.258608,0.4,0.333333,0.067096,0,0,1
543,544,1,0.5,0,0.396833,0.2,0.000000,0.050749,0,0,1
269,270,1,0.0,1,0.434531,0.0,0.000000,0.264739,0,0,1
296,297,0,1.0,0,0.290023,0.0,0.000000,0.014110,1,0,0

In [ ]:
X = df.drop('Survived',axis='columns')
y = df['Survived']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [ ]:
X_train.shape

(569, 10)

In [ ]:
X_train[:10]

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
222,223,1.0,0,0.635587,0.0,0.000000,0.015713,0,0,1
694,695,0.0,0,0.748681,0.0,0.000000,0.051822,0,0,1
827,828,0.5,0,0.007288,0.0,0.333333,0.072227,1,0,0
287,288,1.0,0,0.271174,0.0,0.000000,0.015412,0,0,1
678,679,1.0,1,0.535059,0.2,1.000000,0.091543,0,0,1
726,727,0.5,1,0.371701,0.6,0.000000,0.040989,0,0,1
162,163,1.0,0,0.321438,0.0,0.000000,0.015176,0,0,1
748,749,0.0,0,0.233476,0.2,0.000000,0.103644,0,0,1
510,511,1.0,0,0.359135,0.0,0.000000,0.015127,0,1,0
814,815,1.0,0,0.377984,0.0,0.000000,0.015713,0,0,1

In [ ]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(10, input_shape=(10,), activation='relu'),
    keras.layers.Dense(25, activation='relu'),
    keras.layers.Dense(100, activation='relu'),
    keras.layers.Dense(90, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100)

Epoch 1/100

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

18/18 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.4712 - loss: 1.7733
Epoch 2/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4689 - loss: 0.9286
Epoch 3/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5369 - loss: 0.8535
Epoch 4/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5187 - loss: 0.7204
Epoch 5/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5259 - loss: 0.8287
Epoch 6/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.5227 - loss: 0.7566
Epoch 7/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5618 - loss: 0.7133
Epoch 8/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5358 - loss: 0.7924
Epoch 9/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5508 - loss: 0.8517
Epoch 10/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5331 - loss: 0.7278
Epoch 11/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5693 - loss: 0.8632
Epoch 12/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.4710 - loss: 0.8296
Epoch 13/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5573 - loss: 0.9423
Epoch 14/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5599 - loss: 0.7041
Epoch 15/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.6029 - loss: 0.7255
Epoch 16/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5003 - loss: 0.7440
Epoch 17/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5610 - loss: 0.7176
Epoch 18/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5213 - loss: 0.8659
Epoch 19/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5436 - loss: 0.7625
Epoch 20/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5214 - loss: 0.9655
Epoch 21/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4883 - loss: 0.8515
Epoch 22/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5572 - loss: 0.7652
Epoch 23/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5170 - loss: 0.8593
Epoch 24/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5202 - loss: 0.7318
Epoch 25/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5482 - loss: 0.7149
Epoch 26/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6522 - loss: 0.6743
Epoch 27/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5273 - loss: 0.6992
Epoch 28/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5980 - loss: 0.7528
Epoch 29/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5038 - loss: 0.8190
Epoch 30/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5386 - loss: 0.7227
Epoch 31/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5397 - loss: 0.7394
Epoch 32/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6324 - loss: 0.6722
Epoch 33/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5867 - loss: 0.7488
Epoch 34/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5616 - loss: 0.6748
Epoch 35/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5682 - loss: 0.7362
Epoch 36/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5514 - loss: 0.9847
Epoch 37/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5899 - loss: 0.6573
Epoch 38/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5869 - loss: 0.6948
Epoch 39/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5891 - loss: 0.6874
Epoch 40/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5912 - loss: 0.8185
Epoch 41/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5718 - loss: 0.6901
Epoch 42/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6402 - loss: 0.6377
Epoch 43/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6399 - loss: 0.6769
Epoch 44/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5970 - loss: 0.7983
Epoch 45/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5994 - loss: 0.7979
Epoch 46/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5626 - loss: 0.9369
Epoch 47/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6465 - loss: 0.6917
Epoch 48/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6628 - loss: 0.6234
Epoch 49/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6200 - loss: 0.6290
Epoch 50/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6189 - loss: 0.6520
Epoch 51/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6290 - loss: 0.6354
Epoch 52/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6812 - loss: 0.6100
Epoch 53/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7438 - loss: 0.5680
Epoch 54/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6551 - loss: 0.6284
Epoch 55/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6681 - loss: 0.6123
Epoch 56/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6507 - loss: 0.6420
Epoch 57/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6942 - loss: 0.6000
Epoch 58/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6775 - loss: 0.5826
Epoch 59/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5920 - loss: 0.7601
Epoch 60/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6571 - loss: 0.6030
Epoch 61/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7188 - loss: 0.5696
Epoch 62/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6400 - loss: 0.7180
Epoch 63/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6983 - loss: 0.5765
Epoch 64/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6819 - loss: 0.6034
Epoch 65/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7500 - loss: 0.5401
Epoch 66/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6670 - loss: 0.6179
Epoch 67/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6923 - loss: 0.5986
Epoch 68/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6771 - loss: 0.6320
Epoch 69/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6878 - loss: 0.5882
Epoch 70/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7681 - loss: 0.5383
Epoch 71/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7323 - loss: 0.5506
Epoch 72/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7310 - loss: 0.5323
Epoch 73/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7223 - loss: 0.5403
Epoch 74/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7781 - loss: 0.5103
Epoch 75/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7584 - loss: 0.5297
Epoch 76/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7294 - loss: 0.5308
Epoch 77/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7058 - loss: 0.5396
Epoch 78/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7648 - loss: 0.5045
Epoch 79/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7695 - loss: 0.5277
Epoch 80/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7073 - loss: 0.5750
Epoch 81/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6739 - loss: 0.6272
Epoch 82/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6548 - loss: 0.6395
Epoch 83/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7442 - loss: 0.5301
Epoch 84/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7029 - loss: 0.5750
Epoch 85/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6430 - loss: 0.6838
Epoch 86/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7267 - loss: 0.5829
Epoch 87/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7695 - loss: 0.5049
Epoch 88/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6867 - loss: 0.5924
Epoch 89/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7530 - loss: 0.5654
Epoch 90/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7843 - loss: 0.5085
Epoch 91/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7278 - loss: 0.5210
Epoch 92/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7714 - loss: 0.4905
Epoch 93/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7540 - loss: 0.5046
Epoch 94/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7779 - loss: 0.4960
Epoch 95/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7780 - loss: 0.4881
Epoch 96/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7756 - loss: 0.4932
Epoch 97/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7538 - loss: 0.4982
Epoch 98/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7187 - loss: 0.5316
Epoch 99/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7855 - loss: 0.4685
Epoch 100/100
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7671 - loss: 0.5087

In [ ]:
model.evaluate(X_test, y_test)

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8681 - loss: 0.3865

[0.4265937805175781, 0.8321678042411804]

In [ ]:
model.save_weights('my_model_weights.weights.h5')

In [ ]:
new_data_path = '/content/drive/MyDrive/DeepLearning/Titanic_Challenge/test.csv'  # Replace with the actual path
new_df = pd.read_csv(new_data_path)

In [ ]:
new_df.sample(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
161,1053,3,"Touma, Master. Georges Youssef",male,7.0,1,1,2650,15.2458,NaN,C
291,1183,3,"Daly, Miss. Margaret Marcella Maggie""""",female,30.0,0,0,382650,6.9500,NaN,Q
310,1202,3,"Cacic, Mr. Jego Grga",male,18.0,0,0,315091,8.6625,NaN,S
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.0,0,0,347471,7.8542,NaN,S
87,979,3,"Badman, Miss. Emily Louisa",female,18.0,0,0,A/4 31416,8.0500,NaN,S
238,1130,2,"Hiltunen, Miss. Marta",female,18.0,1,1,250650,13.0000,NaN,S
381,1273,3,"Foley, Mr. Joseph",male,26.0,0,0,330910,7.8792,NaN,Q
369,1261,2,"Pallas y Castello, Mr. Emilio",male,29.0,0,0,SC/PARIS 2147,13.8583,NaN,C
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
325,1217,3,"Assam, Mr. Ali",male,23.0,0,0,SOTON/O.Q. 3101309,7.0500,NaN,S

In [ ]:
#Dropping data that is either incomplete or irrelevant
new_df.drop('Name', axis='columns',inplace=True)
new_df.drop('Cabin', axis='columns',inplace=True)
new_df.drop('Ticket', axis='columns',inplace=True)


new_df.fillna(0, inplace=True)

new_df['Sex'].replace({'female':1,'male':0},inplace=True)



cols_to_scale = ['Age','Fare','SibSp','Parch','Pclass',"PassengerId"]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
new_df[cols_to_scale] = scaler.fit_transform(new_df[cols_to_scale])

<ipython-input-88-2bbe0ba92163>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['Sex'].replace({'female':1,'male':0},inplace=True)
<ipython-input-88-2bbe0ba92163>:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_df['Sex'].replace({'female':1,'male':0},inplace=True)

In [ ]:
new_df.dtypes

PassengerId    float64
Pclass         float64
Sex              int64
Age            float64
SibSp          float64
Parch          float64
Fare           float64
Embarked        object
dtype: object

In [ ]:
#One-hot encoding for Categorical Columns
new_df = pd.get_dummies(data=new_df, columns=['Embarked'], dtype= int)
new_df.columns

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [ ]:
new_df.sample(10)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
282,0.676259,1.0,1,0.000000,0.000,0.000000,0.015127,0,1,0
127,0.304556,1.0,1,0.000000,0.250,0.000000,0.045381,0,1,0
206,0.494005,1.0,1,0.460526,0.000,0.000000,0.015127,0,1,0
243,0.582734,1.0,0,0.000000,0.000,0.000000,0.015395,0,0,1
230,0.551559,0.5,0,0.184211,0.000,0.000000,0.126872,0,0,1
305,0.731415,0.0,1,0.842105,0.125,0.111111,0.051822,0,0,1
253,0.606715,1.0,0,0.315789,0.000,0.000000,0.018201,0,0,1
341,0.817746,1.0,0,0.421053,0.000,0.000000,0.014794,0,0,1
197,0.472422,1.0,1,0.236842,0.000,0.000000,0.015176,0,0,1
329,0.788969,0.5,0,0.276316,0.000,0.000000,0.025374,0,0,1

In [ ]:
model.load_weights('my_model_weights.weights.h5')
predictions = model.predict(new_df)
predicted_labels = (predictions > 0.5).astype(int)

14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [ ]:
nnew_df = pd.read_csv(new_data_path)

In [ ]:
predictions_df = pd.DataFrame({'PassengerId': nnew_df['PassengerId'], 'Survived': predicted_labels.ravel()}) #Flatten predicted_labels to 1D
predictions_df.to_csv('predictions.csv', index=False)  # Set index=False to avoid saving the index
from google.colab import files
files.download('predictions.csv')